/* HaulerReviewModal.module.css */
@import '../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalBaseStyles from global;
  padding-top: 70px;

  @media (--viewportMedium) {
    flex-basis: 567px;
  }
}

.modalContent {
  flex-grow: 1;
}

.modalIcon {
  composes: marketplaceModalIconStyles from global;
}

.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}
